<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ms-4" href="#">PersonsApp</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/persons">List</a>
                    </li>
                    <li *ngIf="accountFacade.isAuthenticated$() | async" class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/persons/add">Add</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <app-account-menu></app-account-menu>
                </div>
            </div>
        </div>
    </nav>
</header>