<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" routerLink="/persons">PersonsApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/persons">List</a>
                    </li>
                    <li *ngIf="accountFacade.isAuthenticated$() | async" class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/persons/add">Add</a>
                    </li>
                </ul>
                <app-account-menu></app-account-menu>
            </div>
        </div>
    </nav>
</header>