td {
    vertical-align: middle;
}

thead{
    border-top: 0px solid white !important;
    border-bottom: 2px solid lightgray !important;
}

.card, main, .person-head {
    min-width: 840px;
    width: 70%;
    margin: auto;
}

td {
    height: 65px;
}