<div class="card p-4">
    <h1 *ngIf="isAddMode" class="mb-2 m-auto">New person</h1>
    <h1 *ngIf="!isAddMode" class="mb-2 m-auto">Edit person</h1>
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()">  
        <div class="form-group mb-2">
            <input placeholder="First Name" formControlName="firstName" id="firstName" type="text" class="form-control">
            <ng-container *ngIf="firstName?.touched">
                <p *ngIf="firstName?.errors?.['required']" class="text-danger m-0">First Name is required!</p>
                <p *ngIf="firstName?.errors?.['maxlength']" class="text-danger m-0">First Name length can't be more than 60 symbols!</p>
                <p *ngIf="firstName?.errors?.['minlength']" class="text-danger m-0">First Name length can be more than 3 symbols!</p>
                <p *ngIf="firstName?.errors?.['pattern']" class="text-danger m-0">First Name can only contain letters!</p>
            </ng-container>
        </div>

        <div class="form-group mb-2">
            <input placeholder="Last Name" formControlName="lastName" id="lastName" type="text" class="form-control">
            <ng-container *ngIf="lastName?.touched">
                <p *ngIf="lastName?.errors?.['required']" class="text-danger m-0">Last Name is required!</p>
                <p *ngIf="lastName?.errors?.['maxlength']" class="text-danger m-0">Last Name length can't be more than 60 symbols!</p>
                <p *ngIf="lastName?.errors?.['minlength']" class="text-danger m-0">Last Name length can be more than 3 symbols!</p>
                <p *ngIf="lastName?.errors?.['pattern']" class="text-danger m-0">Last Name can only contain letters!</p>
            </ng-container>
        </div>

        <div class="form-group mb-2">
            <input placeholder="Phone number" formControlName="phoneNumber" id="phoneNumber" type="tel" class="form-control" (keypress)="onPhoneKeyPress($event)">
            <ng-container *ngIf="phoneNumber?.touched">
                <p *ngIf="phoneNumber?.errors?.['required']" class="text-danger m-0">Phone number is required!</p>
                <p *ngIf="phoneNumber?.errors?.['maxlength']" class="text-danger m-0">Phone number length can't be more than 10 numbers!</p>
                <p *ngIf="phoneNumber?.errors?.['minlength']" class="text-danger m-0">Phone number length must be 10 numbers!</p>
                <p *ngIf="phoneNumber?.errors?.['pattern']" class="text-danger m-0">phone number must start with 0</p>
            </ng-container>
        </div>

        <div class="form-group mb-2">
            <input placeholder="Email" formControlName="email" id="email" type="email" class="form-control">
            <ng-container *ngIf="email?.touched">
                <p *ngIf="email?.errors?.['required']" class="text-danger">Email is required!</p>
                <p *ngIf="email?.errors?.['maxlength']" class="text-danger">Email length can't be more than 100 symbols!</p>
                <p *ngIf="email?.errors?.['minlength']" class="text-danger">Email length can be more than 6 symbols!</p>
                <p *ngIf="email?.errors?.['email']" class="text-danger">Email is not in a correct format!</p>
            </ng-container>
        </div>

        <div class="form-group mb-2">
            <label for="birthday">Birthday</label>
            <input placeholder="Birthday" formControlName="birthday" id="birthday" type="date" class="form-control">
            <ng-container *ngIf="birthday?.touched">
                <span *ngIf="birthday?.errors?.['required']" class="text-danger">Birthday is required!</span>
            </ng-container>
        </div>
        <div class="d-flex justify-content-center">
            <button (click)="onBackClick()" type="button" class="btn btn-primary me-2">Back</button>
            <button [disabled]="!personForm.valid" type="submit" class="btn btn-primary mr-2">
                <span *ngIf="isAddMode">Add</span>
                <span *ngIf="!isAddMode">Edit</span>
            </button>
        </div>
    </form>
</div>